{% extends 'base.html' %}
{% block title %}Create Passwords{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_password.css')}}">
{% endblock %}
{% block body %}
    <h1>Password Management - Create Password</h1>
    <div>
        <p>Enter an alias and press the "Create Password" button to generate a new password</p>
        <form action="{{ url_for('password_management.create_password_logic') }}" method="POST">
            <table>
                <tr>
                    <td>Password Alias: </td>
                    <td><input type="text" name="pass_alias" id="pass_alias" required /></td>
                </tr>
                <tr>
                    <td class="submit-column" colspan="2"><input type="submit" value="Create Password" /></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}