{% extends 'base.html' %}
{% block title %}Passwords Main{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/passwords_main.css')}}">
{% endblock %}
{% block body %}
    <h1>Password Management - View Passwords</h1>
    {% if user_passwords is none -%}
        <p>You don't have any passwords created! <a href="{{ url_for('password_management.create_password_main') }}">Create one</a></p>
    {% else -%}
        <p>Passwords found: {{ user_passwords | length }}</p>
        <table>
            <tr>
                <th>Alias</th>
                <th>Password</th>
            </tr>
            {% for password in user_passwords -%}
                <td>{{ password['name'] }}:</td>
                <!-- This will not have passwords saved because people could look at the source, will hold password_id or something, then another tab/window will open with the password for safety!-->
                <td><input readonly type="text" value="{{ password['password'] }}" /></td>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}