{% extends 'base.html' %}
{% block title %}View Password{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_password.css')}}">
{% endblock %}
{% block body %}
    <h1>Password Management - View Password</h1>
    {% if password_found is defined %}
    <table>
        <tr>
            <td>Password: </td>
            <td><input name="password" id="password" type="password" value = "{{ password_found }}" /></td>
        </tr>
        <tr>
            <td class="show_hide" colspan="2"><button id="show_hide_pass">Show Password</button></td>
        </tr>
    </table>
    {% endif %}

    <script src="{{ url_for('static', filename='javascript/view_password.js') }}"></script>
{% endblock %}